<!DOCTYPE html>
<html>
  <head>
    <title><%= Appkit.config.app_name.call %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-appkit-login>
    <main>
      <%= render "appkit/shared/flashes" %>
      <%= yield %>
    </main>
  </body>
</html>
